* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; /* поставишь, когда придёт шрифт от верстальщика */
}

a {
  color: inherit;
  text-decoration: none;
}